<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Recipe</title>
</head>
<body>

<form action= "createdRecipe" method="post">
    <table>
        <tr>
            <td><label for="name">Name of the Recipe: </label></td>
            <td><input type="text" id="name" name="name" required></td>
        </tr>
        <tr>
            <td><label for="cookTime">Cook Time(minutes): </label></td>
            <td><input type="number" id="cookTime" name="cookTime" required></td>
        </tr>
        <tr>
            <td><label for="course">Course: </label></td>
            <td><input type="text   " id="course" name="course" required></td>
        </tr>
        <tr>
            <td><label for="cuisine">Cuisine: </label></td>
            <td><input type="text" id="cuisine" name="cuisine" required></td>
        </tr>
        <tr>
            <td><label for="prepTime">Prep Time(minutes): </label></td>
            <td><input type="number" id="prepTime" name="prepTime" required></td>
        </tr>
        <tr>
            <td><label for="totalTime">Total Time(minutes): </label></td>
            <td><input type="number" id="totalTime" name="totalTime" required></td>
        </tr>
        <tr>
            <td><input type="submit" value="createdRecipe"/></td>
        </tr>
    </table>
</form>

</body>
</html>