<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <style>
        body{
            background: aliceblue;
        }
        .login{
            text-align: right;
        }
        .title{
            text-align: center;
        }
        form{
            max-width: 350px;
            margin: 0 auto;
            padding-top: 50px;
            padding-bottom: 100px
        }
    </style>
</head>
<body>
<div class="text-center">
    <img class="img-fluid" src="images/recipeIcon.png" alt="icon"/>
    <!--Img from https://icon-library.com/icon/recipe-icon-4.html-->
</div>
<br>
<div class="border border-secondary p-3 rounded" id="idiv">
    <p class="title">Access to Recipe Project</p>
    <input id="username" name="username"  class="form-control" th:value="${user.username}" required="required" type="hidden">
    <p>
        <input id="password1" name="password1" type="password" class="form-control" placeholder="Password" required="required">
    </p>
    <p>
        <input id="password2" name="password2" type="password" class="form-control" placeholder="Password" required="required">
    </p>
    <p class="login">
        <button id="login" onclick="confirmForget()" class="btn btn-primary">Confirm Change</button>
    </p>

</div>
</body>
<script>
    function confirmForget() {
        var username = $("#username").val();
        var password1 = $("#password1").val();
        var password2 = $("#password2").val();
        if (password1 != password2){
            alert("Two password are not identical!");
        } else if (password1.length < 6){
            alert("Password must be longer than 6 digits");
        }else{
            $.post("/user/changePwd",{username:username,password:password1},function (res) {
                if (res =="true"){
                    window.location.href ="/login";
                } else {
                    alert("Password Change Failed");
                }
            });
        }
    }

</script>
</html>