<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <title>Home Page</title>
</head>
<body>

<h1 id="title" th:text="'Recipe Application Page'">Recipe Application</h1>

<div>
    <form action="registeredUser" method="get">
        <button type="submit" value="Registered User">Registered User</button>
    </form>

    <form action="unregisteredUser" method="get">
        <button type="submit" value="Unregistered User">Unregistered User</button>
    </form>
</div>

</body>
</html>