<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <script src="https://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>

  <style>
    a{
      text-decoration: none;
      color: #333333;
    }
    #idiv{text-align: center;border-radius: 20px;
      width: 300px;
      height: 350px;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;}
  </style>
</head>
<body>
<div id="idiv">
  Username<input id="username" name="username" required="required"><br><br>
  Password<input id="password" name="password" type="password" placeholder="more than 6 digits" required="required"><br><br>
  <button id="login" onclick="login()">Login</button> <button> <a href="/goregister">Register</a></button>
</div>
</body>
<script>
  function login() {
    var username = $("#username").val();
    var password = $("#password").val();
    $.post("/gologin",{username:username,password:password},function (res) {
      if (res =="success"){
        window.location.href ="/index";
      } else {
        alert("Invalid Username/Password");
      }
    })
  }
</script>
</html>